<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>

  <meta name="author" content="{{site.title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.github.project_tagline}}{% endif %}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{site.twitter}}">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} - {% endif %}{{site.title}}">
  <meta name="twitter:creator" content="{{site.twitter}}">
  <meta name="twitter:image:src" content="{% if page.image %}{{site.url}}/images/{{page.image}}{% else %}{{site.github.owner_gravatar_url}}{% endif %}">
  <meta name="twitter:url" content="{{site.url}}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.github.project_tagline}}{% endif %}">

  <!-- Google -->
  <meta itemprop="name" content="{% if page.title %}{{page.title}} - {% endif %}{{site.title}}">
  <meta itemprop="image" content="{% if page.image %}{{site.url}}/images/{{page.image}}{% else %}{{site.github.owner_gravatar_url}}{% endif %}">
  <meta itemprop="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.github.project_tagline}}{% endif %}">

  <link rel="stylesheet" href="/styles/vinkla.css">
  <link rel="shortcut icon" href="/favicon.ico">

  {% if page.color %}
  <meta name="theme-color" content="{{page.color}}">

  <style>
    aside header, .btn:hover { background: {{page.color}}; }
    h4, a:hover, .btn {
      color: {{page.color}};
      border-color: {{page.color}};
    }
  </style>
  {% endif %}

  <script src="https://use.typekit.net/dxa2tjq.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
