<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<meta name="google-site-verification" content="k1b2WlZeQuK2T7X1vY_9IdacPqNuT56rQCJbNDbg0dI">

<title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>

<meta name="author" content="{{site.title}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.github.project_tagline}}{% endif %}">

{% include twitter.html %}
{% include google.html %}

<link rel="stylesheet" href="/styles/vinkla.css">
<link rel="shortcut icon" href="/favicon.ico">

{% include color.html %}

<script src="https://use.typekit.net/dxa2tjq.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
