<aside>
  <header>
    <a href="/" title="Back to start">
      {% include icons/cube.html %}
    </a>
  </header>
  {% if page.path contains '_posts' %}
  <nav>
    {% if page.next %}
      <a class="next" href="{{page.next.url}}" title="{{page.next.title}}">
        {% include icons/arrow.html %}
      </a>
    {% endif %}

    {% if page.previous %}
      <a class="previous" href="{{page.previous.url}}" title="{{page.previous.title}}">
        {% include icons/arrow.html %}
      </a>
    {% endif %}
  </nav>
  {% endif %}
  <footer>
    <a href="https://twitter.com/{{site.twitter}}" title="Follow @{{site.twitter}} on Twitter!">
      {% include icons/twitter.html %}
    </a>
    <a href="mailto:{{site.email}}" title="Email Vincent and say hello!">
      {% include icons/mail.html %}
    </a>
    <a href="{{site.github.owner_url}}" title="Follow @{{site.github.owner_name}} on GitHub!">
      {% include icons/github.html %}
    </a>
  </footer>
</aside>
