<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{site.twitter}}">
<meta name="twitter:title" content="{% if page.title %}{{page.title}} - {% endif %}{{site.title}}">
<meta name="twitter:creator" content="{{site.twitter}}">
<meta name="twitter:image:src" content="{% if page.image %}{{site.url}}/images/{{page.image}}{% else %}{{site.github.owner_gravatar_url}}{% endif %}">
<meta name="twitter:url" content="{{site.url}}">
<meta name="twitter:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.github.project_tagline}}{% endif %}">
