html, body
    font: normal 16px/1.5em "Droid Serif", "Times New Roman", Times, serif
    color: #232323

#main-container
    position: relative
    min-height: 420px
    height: 100vh
    &:after,
    &:before
        display: block
        content: " "
        position: absolute
        bottom: 3%
        left: 50%
        margin-left: -40px
        width: 0
        height: 0
        border-left: 40px solid transparent
        border-right: 40px solid transparent
        border-top: 40px solid #bbb
    &:after
        border-top: 40px solid #fff
        margin-bottom: 2px

#main
    position: absolute
    top: 50%
    left: 50%
    height: 280px
    width: 280px
    margin: (-280px/2)
    padding: 46px
    text-align: center
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    border-radius: 100%
    h1
        font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
        margin: 0
        line-height: 1.5
        font-size: 2.5rem

    .social
        font-size: 2.5rem
        line-height: 1.5

    .fa
        margin: 0 2px
    @media (min-width: 600px) and (min-height: 700px)
        padding: 170px 0
        height: 450px
        width: 450px
        margin: (-450px/2)
        h1
            margin-bottom: 10px
pre
    font-size: 14px
    border: 1px solid #DDDDDD
    padding: 5px 7px
    background: #fafafa
    color: #444

.post-single
    header
        margin: 60px 0
    h2
        margin: 1.25em 0 .75em

.post-list .post
    margin-bottom: 60px
