header {
  height: 100%;
  position: fixed;
  width: 50%;
  top: 0;
  left: 50%;
  text-align: center;

  transition: background-color 0.2s ease;

  color: $color-header-primary;

  div {
    width: 90%;
    height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  a {
    margin: 0 .2em;
  }
}

section {
  height: 100%;
  width: 50%;
  background: #fdfdff;
  left: 0;
  top: 0;
  padding: 4em;
}
.page--home {
 article {
  padding-bottom: 1em;
 }
}

article {
  padding: 0 0 4em;

  ul {
    list-style: square;
    margin-left: 1em;
  }

  li {
    margin-bottom: .3em;
  }

  iframe { width: 100% !important; }

  iframe, blockquote, pre, p {
    margin: 0 0 1.25em !important;
  }

  footer {
    margin-top: 2em;

    ul {
      margin: 0;
    }

    li {
      list-style: none;
      width: 33%;
      float: left;
      text-align: center;

      &:first-child { text-align: left; }
      &:last-child { text-align: right; }
    }
  }
}

svg {
  width: 2em;
  height: 2em;

  path {
      fill: $color-header-primary;
      opacity: 0.7;
      transition: opacity .2s ease;
  }

  &:hover path { opacity: 1; }
}
