aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 4em;
  height: 100%;
  background: $color-heading;

  @media screen and (max-width: 30em) { width: 3.5em; }

  header {
    position: relative;
    width: 100%;
    height: 4em;

    a { padding-top: 1em; }

    svg { fill: $color-light; }
  }

  a {
    display: block;
    padding: .2em 1em;

    &:hover svg {
      fill: $color-nav-icon-hover;
    }
  }

  nav { margin-top: 1em; }

  .previous {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 1em;
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: .5em;
  }
}

.page--not-found {
  width: 100%;
  height: 100%;
  overflow: hidden;

  header {
    padding: 3rem;
  }
}

main { margin-left: 4em; }

.page--home {
  section { border-bottom: 1px solid #f0f0f0; }

  article { padding-bottom: 4.75em; }
}

article {
  width: 90%;
  max-width: 48em;
  padding: 3.5em;

  @media screen and (max-width: 64em) { padding: 2em; }
  @media screen and (max-width: 30em) { padding: 1em; }

  img:hover { cursor: zoom-in; }

  a { border-bottom: 2px solid #e4e6ec; }

  blockquote {
    margin: 1.5em 0 1.25em;

    p {
      padding-left: 1em;

      border-left: 4px solid #eaeaea;

      color: #7a7a7a;
      font-size: .9rem;
      font-style: italic;
    }
  }

  ul {
    list-style: square;
    margin-left: 1.25em;
  }

  li { margin-bottom: .4em; }

  iframe { width: 100% !important; }

  iframe, pre, p, ul, ol { margin-bottom: 1.25em; }

  footer { margin: 2em 0 0; }
}

.btn {
  border: 1px solid transparent;
  padding: .75em 1.25em;
  border-radius: 3px;

  transition: all .1s ease;

  &:hover { color: $color-light; }
}

svg {
  width: 100%;
  height: 100%;

  fill: $color-nav-icon;
  transition: fill .2s ease;
}
