/*
* Variables.
*/
$font-base-family: proxima-nova;
$font-header: proxima-nova-soft;
$font-heading: freight-sans-pro;

$font-size: 16px;
$color: #373735;

$color-header-primary: #fff;
$color-heading: #1D1D1D;
