%typography-reset {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  line-height: $line-height-base;

  text-transform: initial;
}

%typography-base {
  @extend %typography-reset;

  color: $color-font-base;
}

%typography-heading {
  margin-bottom: .5rem;

  font-family: $font-family-heading;
  font-weight: $font-weight-heading;

  color: $color-dark-contrast;

  line-height: $line-height-heading;
}

%typography-heading-big {
  @extend %typography-heading;
  font-size: 2.5rem;
}

body {
  @extend %typography-base;
}

h1, h1 a {
  @extend %typography-heading-big;

  font-weight: 700;
}

h2, h2 a {
  @extend %typography-heading-big;

  font-size: 2rem;
  margin-top: 1rem;
}

h3, h3 a {
  @extend %typography-heading-big;

  font-size: 1.5rem;
}

h4, h4 a {
  @extend %typography-heading;
  font-size: 1rem;
}
h5 {}
h6 {}

address {}
small {}

p {
  font-size: 1.185rem;
}

a {
  text-decoration: none;

  color: $color-darkest;

  transition: all .1s ease;
}

strong { font-weight: 700; }
em { font-style: italic; }

time {
  color: $color-medium-contrast;
  display: block;
  margin: 1rem 0 .25rem;
}

li {
  font-size: 1.2rem;
}

blockquote {
  margin: 1.5rem 0 1.25rem;

  p {
    padding-left: 1rem;

    border-left: 4px solid $color-border-primary;

    color: $color-blockquote;
    font-size: .9rem;
    line-height: $line-height-heading-blockquote;
    font-style: italic;
  }
}
