// Fonts
// -----------------------------------------------------------------
$font-family-base: 'proxima-nova', helvetica, arial, sans-serif;
$font-size-base: 16px;
$font-weight-base: 300;

$line-height-base: 1.75rem;

$line-height-heading: 2.75rem;
$font-family-heading: 'freight-sans-pro', helvetica, arial, sans-serif;
$font-weight-heading: normal;

$font-family-code: menlo, monaco, helvetica, arial, sans-serif;

$line-height-heading-blockquote: 1.5rem;

// Colors
// -----------------------------------------------------------------
$color-lightest: #fff;
$color-darkest: #000;

$color-lighter-contrast: #fdfdfd;
$color-light-contrast: #f0f0f0;
$color-medium-contrast: #999;
$color-dark-contrast: #32373d;

$color-font-base: #373735;

$color-navigation-icon: #72777d;
$color-navigation-icon-hover: #fff;

$color-border-primary: #eaeaea;
$color-border-link: #e4e6ec;

$color-blockquote: #7a7a7a;
