.button {
  padding: .75em 1.25em;

  border-radius: 3px;
  border: 1px solid transparent;

  font-size: .8em;
  letter-spacing: .05em;
  text-transform: uppercase;

  transition: all .1s ease;

  &:hover {
    color: $color-lightest;
  }
}
