---
---

/*
 * Variables.
 */
$font-family: jaf-facitweb;
$font-size: 16px;
$color: #fff;

/*
 * Mixins.
 */
@mixin transform($value...) {
	-webkit-transform: $value;
	transform: $value;
}

/*
 * Document.
 */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0; padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	background: #61e1c0;

	font-size: $font-size * 2;
	font-family: $font-family;
	color: $color;

	text-align: center;

	transition: background-color .2s ease;

	&.green { background: #61e1c0; }
	&.red { background: #f27a86; }
	&.blue { background: #79bef0; }
	&.purple { background: #a09df3; }
}

header {
	width: 90%;
	height: 4em;
	position: absolute;
	top: 50%;
	left: 50%;

	@include transform(translate(-50%, -50%));
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 500;
	font-size: $font-size * 2;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .1);
}

svg {
	width: 1em;
	height: 1em;

	path {
		fill: $color;
		opacity: 0.7;
		transition: opacity .2s ease;
	}

	&:hover path { opacity: 1; }
}
