/*
 * Variables.
 */
$font-base: chaparral-pro;

$font-size: 22px;
$font-size-heading: 2.2em;
$letter-spacing: 0.5px;
$line-height: $font-size * 1.5;

$font-color: #8D8D9A;
$font-color-heading: #3E3E4C;

$tablet-breakpoint: 'min-width: 40em';
$phone-breakpoint: 'min-width: 21em';

/*
 * Mixins.
 */
@mixin transform($value...) {
	-webkit-transform: $value;
	transform: $value;
}

/*
 * Document.
 */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0; padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	min-width: 14em;

	color: $font-color;
	font-family: $font-base;
	font-size: $font-size * 0.85;
	font-weight: 300;
	letter-spacing: $letter-spacing;
	-moz-osx-font-smoothing: grayscale;
	border: 8px solid #A044FC;

	@media screen and ($phone-breakpoint) { font-size: $font-size; }
}

p {
	line-height: $line-height * 0.8;
	@media screen and ($phone-breakpoint) { line-height: $line-height; }
}

span {
	display: block;
	padding: .5em 0;
	font-size: $font-size * 2;
}

a {
	color: $font-color;
	text-decoration: none;

	&:hover {
		color: $font-color-heading;
	}
}

h1 {
	margin: 0 0 .35em;

	font-size: $font-size-heading;
	font-weight: 400;
	color: $font-color-heading;
}

img {
	margin: 0 0 2em;
	max-width: 7em;
}

header {
	position: relative;
	top: 50%;
	@include transform(translateY(-75%));

	height: 17em;
	margin: 1em .5em;

	text-align: center;

	&.not-found { @include transform(translateY(-30%)); }

	@media screen and ($phone-breakpoint) { @include transform(translateY(-65%)); }
	@media screen and ($tablet-breakpoint) { @include transform(translateY(-55%)); }
}
