nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 4em;
  height: 100%;
  background: $color-heading;

  header {
    a {
      display: block;
      width: 50%;
      margin: 0 auto;
      padding: .75em 0 .5em;
    }

    svg {
      fill: $color-light;
    }
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: .5em;

    a {
      display: block;
      padding: .2em 1em;

      &:hover path {
        fill: $color-nav-icon-hover;
      }
    }
  }
}

main { margin-left: 4em; }

.page--home {
  section {
    border-bottom: 1px solid #f0f0f0;
  }
}

article {
  width: 90%;
  max-width: 48em;
  padding: 4em;

  ul {
    list-style: square;
    margin-left: 1em;
  }

  li {
    margin-bottom: .3em;
  }

  iframe { width: 100% !important; }

  iframe, blockquote, pre, p, ul, ol {
    margin-bottom: 1.25em !important;
  }

  footer {
    margin: 2em 0 1em;
    overflow: auto;

    ul {
      margin: 0;
    }

    li {
      list-style: none;
      width: 33%;
      float: left;
      text-align: center;

      &:first-child { text-align: left; }
      &:last-child { text-align: right; }
    }
  }
}

.btn {
  border: 1px solid transparent;
  padding: 1em 1.5em;
  border-radius: 3px;

  transition: all .1s ease;

  &:hover {
    color: $color-light;
  }
}

svg {
  width: 100%;
  height: 100%;

  fill: $color-nav-icon;
  transition: fill .2s ease;
}
