body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: $font-base-family;
  color: $color;
}

p {
  font-size: 1.185em;
  line-height: 1.5em;
}

a {
  color: $color;
  text-decoration: none;
  transition: all .1s ease;
}

.btn {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .05em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: $font-size * 2.5;
  font-weight: 600;
  line-height: 1.1em;
  color: $color-heading;
  font-family: $font-heading;
  margin: 1em 0 .5em;

  a {
    border: none;
    color: $color-heading;
  }
}

h1 {
  font-weight: 700;
  margin-top: .75em;
  margin-bottom: .75em;
}

h2 {
  font-size: $font-size * 2;
  font-weight: 400;

  .page--home & {
    font-size: $font-size * 2.5;
    font-weight: 700;
    margin-top: 0;
  }
}

h3 {
  font-size: $font-size * 1.5;
  font-weight: 400;
}

h4 {
  font-size: $font-size * 1.25;
  text-transform: uppercase;
}

h5 { font-size: $font-size * 1.5; }
h6 { font-size: $font-size * 1; }

p {
   code {
    padding: .2em .4em;
    font-size: .85em;
  }
}

code, pre {
  background: #ececef;
  color: #333335;
  border-radius: 3px;
  font-family: menlo;
}

pre {
  font-size: .9em;
  line-height: 1.5em;
  padding: 1.5em;
  overflow-y: hidden;
  overflow-x: scroll;

  .c {
    color: #999995;
    font-style: italic;
  }
}

time {
  color: #999;

  .page--home & {
    display: block;
    padding-bottom: .5em;
  }
}

li {
  font-size: 1.2em;
}
