/*
* Variables.
*/
$font-base-family: proxima-nova;
$font-header: proxima-nova-soft;
$font-heading: freight-sans-pro;

$font-size: 16px;
$color: #373735;

$color-light: #fff;
$color-header-primary: $color-light;
$color-heading: #32373d;
$color-background: #fdfdff;
